---
interface Props {
  height?: string;
}

const { height = "h-96" } = Astro.props;
---

<div class={`${height} rounded-lg overflow-hidden shadow-lg`}>
  <iframe 
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3915.7168437586604!2d79.13097587499726!3d10.782866989362325!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3baab89cea453039%3A0x11f39c6ce7a0b8c4!2sBrihadeeshwara%20Temple!5e0!3m2!1sen!2sin!4v1682043271346!5m2!1sen!2sin"
    width="100%" 
    height="100%" 
    style="border:0;" 
    allowfullscreen="" 
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  >
  </iframe>
</div>